        img:hover {
            transform: scale(1.05);
        }
        img {
            scale: 0.4;
        }
        .drag-over {
            filter: drop-shadow(0 0 50px rgb(0, 0, 0));
            transform: scale(1.05);
        }