    body {
      background-color: #1c1c1c;
      font-family: 'League Spartan', sans-serif;
      color: white;
      margin-top: 10%;
      justify-content: center;
      justify-items: center;
    }